body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 2rem;
  color: #7c3c21;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  color: dimgray;
}

img {
  border-radius: 50%;
  margin: 1rem 0.75rem 1rem 0;
}

span {
  color: dimgray;
}

.form-control {
  background-color: #e8e4e1;
}

.search-container {
  padding: 4rem 15rem 0 15rem;
}

.btn {
  background-color: #7c3c21;
  color: white;
  font-size: 0.75rem;
}
.users-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.users-div {
  border: 1px solid #e8e4e1;
  margin-left: 15rem;
  margin-right: 0.5rem;
  width: 40%;
  padding: 1rem;
}

.statistics-div {
  border: 1px solid #e8e4e1;
  width: 40%;
  margin-left: 0.5rem;
  margin-right: 15rem;
  padding: 3rem;
}
